{
	"presets": [
		["env", {"modules": false}],
        "react",
		"stage-2"
	],
    "env": {
        "test": {
            "presets": [
                "env"
            ]
        }
    },
	"plugins": [
		"react-hot-loader/babel"
	]
}
